#modal-content
  #modal-map
    %img{:alt => "Mapbox Map of #{@location.latitude},#{@location.longitude}", :src => "https://api.mapbox.com/v4/mapbox.emerald/pin-m-beer+282a2d(#{@location.longitude},#{@location.latitude})/#{@location.longitude},#{@location.latitude},15/600x300@2x.png?access_token=#{ENV['MAPBOX_ACCESS_TOKEN']}", :width => "600"}
  .wrapper
    %h1.title= @location.name
    %section.details
      %p.coordinates
        %span.lat= @location.latitude
        %spab.lon= @location.longitude
      %p.address= @location.full_address
      %p.contact
        %span.phone= @location.phone_number
        %span.website= @location.website